@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<ul>
    <li>No messages are stored. User list is temporarily kept in memory.</li>
    <li>No cookies.</li>
    <li>HTTPS only.</li>
</ul>